.container {
    background-color: wheat;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    box-sizing: border-box;
    overflow: hidden;
    width: 800px;
    margin: auto;
  }

  .cell {
    position: absolute;
    overflow: hidden;
    border-bottom: 1px solid #1D9DF9;
    border-left: 1px solid #1D9DF9;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    padding: 3;
    text-align: center;
    font-family: sans-serif;
    padding-top: 23;
    font-size: 10;
    box-sizing: border-box;
    color: #1D9DF9
  }

  .fixed {
    color: #F8A104
  }

 .bodyLeft {
    border-left: 1px solid transparent
  }

  .cellTopFirst {
    border-bottom: 1px solid #F8A104
  }

  .cellTop {
    border-bottom: 1px solid #F8A104;
    border-left: 1px solid #F8A104
  }

  .cellLeft {
    border-right: 1px solid #F8A104;
    border-bottom: 1px solid #F8A104;
    border-left: 1px solid #F8A104
  }

 .cellRight {
    border-left: 1px solid #F8A104;
    border-bottom: 1px solid #F8A104;
    border-right: 1px solid #F8A104
  }

  .cellBottomFixed {
    border-top: 1px solid #F8A104
  }

  .cellBottomFirst {
    border-top: 1px solid #F8A104;
    border-bottom: 1px solid transparent
  }

  .cellBottom {
    border-top: 1px solid #F8A104;
    border-left: 1px solid #F8A104;
    border-bottom: 1px solid transparent
  }